<ion-view>
    <ion-nav-title>
        {{viewState.editForm.entity()[referenceNameExpression]}}
    </ion-nav-title>
    <ion-content>
        <ion-list lc-form="mainEntityTypeId"
                  entity-id="entityId"
                  publish-methods="viewState.editForm">
            <ion-item class="item-icon-right" ng-repeat="fd in fieldDescriptions"
                      ng-href="#/app/entity/{{entityTypeId}}/{{entityId}}/{{fd.field}}">
                <span>{{fd.name}}</span>
                <span lc-field="fd" ng-model="entity[fd.field]"></span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        <div class="padding">
            <button class="button button-block button-assertive" lc-message="Delete" ng-click="deleteEntity()"></button>
        </div>
    </ion-content>
</ion-view>
