<ion-view view-title="{{title}}">
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-ios-plus-empty" ng-href="#/app/entity/{{mainEntityTypeId}}/new"></a>
    </ion-nav-buttons>
    <ion-content>
        <ion-list lc-list="mainEntityTypeId"
                  filtering="viewState.filtering"
                  edit-mode="viewState.editState"
                  paging="{start: 0, count: 50}"
                  total-row="viewState.totalRow"
                  publish-methods="viewState.gridMethods"
                  infinite-scroll-end="viewState.infiniteScrollEnd"
                >
            <ion-item ng-repeat="item in items" ng-href="#/app/entity/{{mainEntityTypeId}}/{{item.id}}">
                <h2><span lc-field="mainFieldDescription(fieldDescriptions)" ng-model="item[mainFieldDescription(fieldDescriptions).field]" is-editor="false"></span></h2>
                <p><span lc-field="additionalFieldDescription(fieldDescriptions)" ng-model="item[additionalFieldDescription(fieldDescriptions).field]" is-editor="false"></span></p>
            </ion-item>
            <p ng-if="items && !items.length" class="padding" style="text-align: center"><b lc-message="No records"></b></p>
        </ion-list>
        <ion-infinite-scroll
                ng-if="!viewState.infiniteScrollEnd"
                on-infinite="loadNextItems()"
                distance="1%"
                immediate-check="true">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
