<ion-view>
    <ion-nav-title>
        {{appInfo.appName}}
    </ion-nav-title>
    <ion-content>
        <ion-list class="lc-menu">
            <div ng-repeat="item in menuItems">
                <div class="item item-divider" ng-if="item.children && item.children.length">
                    {{item.name}}
                </div>
                <ion-item class="item" ng-if="!item.children || !item.children.length" ng-class="{'item-divider': item.children && item.children.length}" nav-clear menu-close ng-href="#/app/entity/{{item.entityTypeId}}">
                    {{item.name}}
                </ion-item>
                <ion-item nav-clear menu-close ng-href="#/app/entity/{{child.entityTypeId}}" ng-repeat="child in item.children">
                    {{child.name}}
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
